HeaderFilterRegex: "include/hash_tables/|test/"
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-missing-std-forward,
    -cppcoreguidelines-noexcept-move-operations,
  google-*,
    -google-runtime-references,
    -google-readability-todo,
  performance-*,
    -performance-noexcept-move-constructor,
  portability-*,
  readability-*,
    readability-identifier-naming,
    -readability-function-cognitive-complexity,
  modernize-*,
  hicpp-*,
    -hicpp-no-array-decay,
    -hicpp-noexcept-move,
  cert-*,
  bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-unchecked-optional-access,
  concurrency-*,
  boost-*,
  openmp-*,

# Ignored checks:
#
# - google-runtime-references is a Google-specific rule, and forces use of raw pointers.
# - readability-function-cognitive-complexity is hard to be fixed in tests.
# - cppcoreguidelines-owning-memory, cppcoreguidelines-pro-bounds-constant-array-index, cppcoreguidelines-pro-bounds-array-to-pointer-decay, hicpp-no-array-decay forces to use an external library.
# - bugprone-easily-swappable-parameters is difficult to be solved.
# - bugprone-unchecked-optional-access has a bug as in https://github.com/clangd/clangd/issues/1700.
# - cppcoreguidelines-missing-std-forward generates many false positives.
# - cppcoreguidelines-noexcept-move-operations, hicpp-noexcept-move, performance-noexcept-move-constructor generates warnings which shouldn't be fixed.

CheckOptions:
  # Naming Conventions
  # for these parameters of the naming convention,
  # see https://clang.llvm.org/extra/clang-tidy/checks/readability-identifier-naming.html
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case

  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case

  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: _

  - key: readability-identifier-naming.TypeTemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: CamelCase

  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
